body {
    color:white;
    text-shadow: 1px 1px #000000;
}

.background {
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  
  z-index:-1;
  
  background-image:url("wedding_background.jpg");
  
  background-attachment:fixed;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

H1 {
  font-family:"Lobster Two", cursive;
  color:#700000;
  font-size:20pt;
}

a {
  color:#700000;
}