@font-face {
    font-family: "1942 report";
    src: url('1942.ttf');
  
}

html,body {
  width:100%;
  height:100%;
  background:black;
}

/************* 
  Navigation 
**************/

.navigation {
  background:#700000;
  height:50px;
  width:500px;
  left:25%;
  top:0px;
  margin:0px 0px 0px 0px;
  position:fixed;
  z-index:999;
  -moz-box-shadow:-5px -1px 5px #000, 5px -1px 5px #000, 0px 2px 7px 2px #000;
  -webkit-box-shadow:-5px -1px 5px #000, 5px -1px 5px #000, 0px 2px 7px 2px #000;
  box-shadow:-5px -1px 5px #000, 5px -1px 5px #000, 0px 2px 7px 2px #000;
}

.navigation ul {
  display:inline;
  position:relative;
  display:block;
  list-style:none;
  text-align:center;
  text-shadow:#000 0 1px 2px;
  margin: 15px;
  padding: 0;
}

.navigation li {
  display:inline;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color:#fff;
  padding:.5em .75em;
  -webkit-transition: all .2s ease-in-out;
  font-family:"1942 report";
}

.navigation li:hover, .active{
	cursor:pointer;
	background:#800000;
	font-weight:bold;
}

#logo {
  display:none;
  position:absolute;
  height:75%;
  left:1%;
  top:2%;
}

/******************
  Slide Properties
*******************/

.slide {
  background-attachment: fixed;
  width:100%;
  height:1000px;
  position: relative;
  box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  background-attachment: fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  margin:0 auto;
  position:relative;
}

/******************
  Story
*******************/
#slideIntro {
  background-attachment: fixed;
  background:url(images/bus-background.jpg);
  z-index:1;
}

#introForeground {
  background-attachment: fixed;
  position:relative;
  width:100%;
  height:100%;
  background:url(images/bus-foreground.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:3;
}

#introBox {
  position:absolute;
  top:30%;
  left:30%;
  background:#700000;
  width:400px;
  height:200px;
  text-align:center;
  box-shadow:5px 5px 5px #000;
  z-index:2;
  font-size:20px;
  margin:60px 0px 0px 0px;
}

/******************
  Story
*******************/
#slideStory {
  background-attachment: fixed;
  background:url(images/st_stephens_background.jpg);
  margin:0px 0 0;
  z-index:2;
}

#storyForeground {
  background-attachment: fixed;
  position:relative;
  width:60%;
  height:100%;
  background:url(images/dino.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:3;
}

#storyBox {
  position:absolute;
  top:5%;
  right:3%;
  background:#700000;
  width:500px;
  height:80%;
  text-align:center;
  box-shadow:5px 5px 5px #000;
  z-index:4;
  font-size:20px;
  padding:20px 30px 30px 0;
}

/******************
  Wedding
*******************/
#slideWedding {
  background-attachment: fixed;
  background:url(images/wedding_background.jpg);
  margin:0px 0 0;
  z-index:3;
}

#weddingForeground {
  background-attachment: fixed;
  position:relative;
  bottom:0px;
  right:0px;
  height:100%;
  width:100%;
  z-index:4;
}

#curiodysseySign {
  position:absolute;
  bottom:0px;
  right:0px;
  z-index:5;
}

#weddingBox {
  position:absolute;
  top:5%;
  left:2%;
  background:#700000;
  width:500px;
  height:400px;
  text-align:center;
  box-shadow:5px 5px 5px #000;
  z-index:3;
  font-size:20px;
  padding:10px 10px 10px 0;
}

/******************
  Registry
*******************/
#slideRegistry {
  background-attachment: fixed;
  background:url(images/halong_background.jpg);
  margin:0px 0 0;
  z-index:1;
}

#registryForeground {
  background-attachment: fixed;
  position:relative;
  height:100%;
  width:100%;
  background:url(images/halong_foreground.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:8;
}

#registryBox {
  position:absolute;
  top:5%;
  left:20%;
  background:#700000;
  width:500px;
  height:400px;
  text-align:center;
  box-shadow:5px 5px 5px #000;
  z-index:6;
  font-size:20px;
  padding:10px 10px 10px 0;
}

/******************
  Reply
*******************/
#slideReply {
  background-attachment: fixed;
  background:url(images/reply_background.jpg);
  margin:0px 0 0;
  z-index:1;
}

#replyForeground {
  background-attachment: fixed;
  position:relative;
  height:100%;
  width:100%;
  background:url(images/reply_foreground.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:8;
}

#replyBox {
  position:absolute;
  top:0;
  right:2%;
  background:#700000;
  width:600px;
  height:350px;
  text-align:center;
  box-shadow:5px 5px 5px #000;
  z-index:6;
  font-size:20px;
  padding:50px 10px 10px 0;
}