@font-face {
    font-family: "Walkway";
    src: url('Walkway_SemiBold.ttf');
}

html,body {
  width:100%;
  height:100%;
  max-width:100%;
  max-height:100%;
  background:black;
}

/******************
  Slide Properties
*******************/

.slide {
  height:1000px;

  background-attachment: fixed;
  width:100%;
  background-size:100%;
  position: relative;
  box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
  
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  z-index:1;
}

.wrapper {
  position:relative;
  background-attachment:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

.foreground {
  background-attachment:fixed;
  position:absolute;
  width:100%;
  height:100%;
  bottom:0px;
}

.background {
  position:absolute;
  background-attachment:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.textBox {
  text-align:center;
  background:#700000;
  box-shadow:5px 5px 5px #000;
  font-size:14px;
  padding:0px 10px 20px 10px;
}

/************* 
  Navigation 
**************/

.navigation {
  background:#700000;
  min-height:50px;
  width:80%;
  left:10%;
  top:0px;
  margin:0px 0px 0px 0px;
  position:fixed;
  opacity:0.90;
  z-index:999;
  -moz-box-shadow:-5px -1px 5px #000, 5px -1px 5px #000, 0px 2px 7px 2px #000;
  -webkit-box-shadow:-5px -1px 5px #000, 5px -1px 5px #000, 0px 2px 7px 2px #000;
  box-shadow:-5px -1px 5px #000, 5px -1px 5px #000, 0px 2px 7px 2px #000;
}

.navigation ul {
  display:block;
  position:relative;
  list-style:none;
  text-align:center;
  text-shadow:#000 0 1px 2px;
  margin: 15px;
  padding: 0;
}

.navigation li {
  display:inline;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color:#fff;
  padding:.5em .75em;
  -webkit-transition: all .2s ease-in-out;
  font-size:15pt;
  font-family:"Lobster Two", cursive;
}

.navigation li:hover, .active{
	cursor:pointer;
	background:#800000;
	font-weight:bold;
}

/******************
  Intro
*******************/
#slideIntro {
  z-index:100;
}

#introForeground {
  top:0px;
  bottom:auto;
}

#introBackground {
  background-image:url("images/alps_background.jpg");
}

#introBox {
  
}

.introText {
  text-align:center;
  color:white;
  font-family:"Walkway";
  font-size:15pt;
  padding:0px;
}

#introTitle {
  font-size:20pt;
}

#farkBox {
  position:absolute;
  left:0px;
  bottom:0px;
  max-width:55%;
}

#farkasBus {
  position:relative;
  z-index:103;
  max-width:100%;
}

#maliaBox {
  position:absolute;
  right:0px;
  bottom:0px;
  max-width:55%;
}

#maliaBus {
  position:relative;
  max-width:100%;
  z-index:102;
}

#introBox {
  position:absolute;
  top:150px;
  left:25%;
  width:400px;
  height:200px;
  z-index:101;
}

/******************
  Story
*******************/
#slideStory {
  height:1300px;
  z-index:200;
}

#storyBackground {
  background-image:url("images/st_stephens_background.jpg");
}

#dinoAttack {
  position:absolute;
  left:240px;
  bottom:400px;
  max-width:100%;
  max-height:100%;
  z-index:3;
}

.storyBox {
  position:absolute;
  top:150px;
  width:250px;
  height:575px;
  z-index:5;
}

#maliaStoryBox {
  left:2%;
}

#jacobStoryBox {
  right:3%;
}

#usStoryBox {
  left:10%;
  top:760px;
  width:800px;
  height:300px;
}

.storyPic {
  padding: 4px 0 0 0;
}

.storyName {
  font-family:"Lobster Two", cursive;
  color:white;
  font-size:20pt;
}

.storyText {
  color:white;
  font-size:12pt;
}

/******************
  Wedding
*******************/
#slideWedding {
  z-index:300;
  height:1200px;
}

#weddingBackground {
  background-image:url("images/wedding_background.jpg");
}

#curiodysseySign {
  position:absolute;
  bottom:0px;
  right:0px;
  max-width:100%;
  z-index:5;
}

#weddingBox {
  position:absolute;
  left:10%;
  width:800px;
  height:800px;
  top:100px;
  z-index:3;
}

#noteContainer {
  position:relative;
  height:175px;
  margin-top:40px;
}

.sticky {
  position:absolute;
  font-family: 'Rancho', cursive;
  font-size:18px;
  text-align:center;
  width:300px;
  height:150px;
  color:#000;
  background:#fcfccb;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.sticky ul li {
  list-style: disc;
  text-align: left;
}

#listOfStuffToBring {
  left:5%;
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -moz-transform:rotate(-2deg);
}

#listOfStuffToLeave {
  right:5%;
  -webkit-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -moz-transform:rotate(6deg);
}

#mapAndInfo {
  position:relative;
  width:100%;
  height:350px;
}

#googleMap {
	height: 350px; 
	width: 45%;
	float:left;
}

#curiodysseyInfo {
  position:absolute;
  width:52%;
  right:0px;
  padding-top:20px;
}

/******************
  Registry
*******************/
#slideRegistry {
  z-index:400;
  height:1400px;
}

#registryBackground {
  background-image:url("images/halong_background.jpg");
}

#halong {
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  z-index:5;
}

#registryBox {
  position:absolute;
  top:200px;
  left:12%;
  width:800px;
  height:600px;
  z-index:3;
}

/******************
  Reply
*******************/
#slideReply {
  z-index:500;
}

#replyBackground {
  background-position:25%;
  background-image:url("images/reply_background.jpg");
}

#replyForeground {
  position:absolute;
  width:100%;
  bottom:0px;
  left:0px;
  z-index:10;
}

#replyBox {
  position:absolute;
  bottom:35%;
  left:2%;
  width:700px;
  height:500px;
  z-index:6;
}